<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918324361981-tg4m7963lav19df9n2r3qj91qmbi0sav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918324361981-tg4m7963lav19df9n2r3qj91qmbi0sav</string>
	<key>API_KEY</key>
	<string>AIzaSyBERFFLnsjcbXPiz4m6NBb_oSCNx5hmepk</string>
	<key>GCM_SENDER_ID</key>
	<string>918324361981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCom</string>
	<key>PROJECT_ID</key>
	<string>e-comm-de7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>e-comm-de7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918324361981:ios:a3a05e9cb888f0e8451c94</string>
</dict>
</plist>